/* css commun à toutes les pages */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--main-color);
}

#iconsports {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

#piccardio,
#picmuscu,
#picyoga,
#picaquabike,
#picaquagym,
#picboxe {
    height: 10vh;
}

/* css commun à 2 coach sur la page */

div>h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Cormorant Garamond', serif;
    color: var(--paragraph-color);
}

h2 {
    font-size: 2em;
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-size: 1.7em;
    font-family: 'Nunito Sans', sans-serif;
}

#button1 a,
#button2 a {
    border-style: solid;
    border-radius: 20px;
    border-color: #183D3D;
    color: var(--paragraph-color);
    padding: 12px;
    background-color: #183D3D;
    width: 40%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    margin-top: 2em;
}

/* div .allcoach{
    display:block;
} */

div #coach1 {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "a a b"
        "a a c"
    ;
    padding-inline: 15%;
    padding-top: 5%;
    align-items: center;
    justify-items: center;
}

#photo1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

div #coach2 {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "e d d"
        "f d d"
    ;
    padding-inline: 5%;
    padding-top: 5%;
    align-items: center;
    justify-items: center;
}

#photo2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}


#text1,
#text2 {
    color: var(--paragraph-color);
}

#photo1 {
    grid-area: a;
}

#text1 {
    grid-area: b;
}

#button1 {
    grid-area: c;
}

#photo2 {
    grid-area: d;
}

#text2 {
    grid-area: e;
}

#button2 {
    grid-area: f;
}


.retour {
    width: 40px;
    margin-left: 2%;
    margin-bottom: 1%;
}

/* responsive */
/* 
@media screen and (max-width: 1390px) { 
    #iconsports {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size : 2em;
    }

    div #allcoach{
        display: block;
        justify-content: center;
    }

    h2{
        font-size : 1.7em;
    }


    #text1, #text2{
        text-align: center;
        max-width: 60vw;
    }

    p {
        font-size: 1.2em;
    }

    #button {
        justify-content: center;
    }

    #button a {
        font-size: 1em;
    }

    .photo1, .photo2 {
        object-position: center;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        max-width: 80vw;
    }
}

@media screen and (max-width: 410px){
    h1 {
        font-size: 1.5em;
    }

    h2{
        font-size: 1em;
    }

    div #text1, div #text2 {
        margin-top: 1em;
        margin-bottom: 0;
    }

    p{
        font-size: 0.9em;
    }

    #button a{
        font-size :0.7em;
    }

    .photo1, .photo2 {
        object-position: center;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        max-width: 80vw;
    }
} */